@import url("https://use.typekit.net/jwm1tcg.css");

body {
    font-family: "franklin-gothic-urw";
    background-color: #FCFCFA;
    color: #101010;
}

button {
    font-family: "franklin-gothic-urw";
}

a {
    font-family: "franklin-gothic-urw";
    all: unset;
    cursor: pointer;
}

