
@font-face {
    font-family: 'InputMono';
    font-style: normal;
    font-weight: bold;
    src: local(''), url('/font/InputMono/InputMono-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'InputMono';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('/font/InputMono/InputMono-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('/font/InputMono/InputMonoCompressed-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: bold;
    src: local(''), url('/font/InputMono/InputMonoCompressed-Medium.ttf') format('truetype')
}

body {
    font-weight: normal;
    font-family: 'InputMono';
    background-color: #FCFCFA;
    color: red;
}

a {
    all: unset;
    cursor: pointer;
}

